<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="member" type="kr.jetstream.member.dto.MemberDTO" />
		<typeAlias alias="board" type="kr.jetstream.board.dto.BoardDTO" />
		<typeAlias alias="pack" type="kr.jetstream.pack.dto.PackDTO"/>
		<typeAlias alias="card" type="kr.jetstream.card.dto.CardDTO" />
		<typeAlias alias="comment" type="kr.jetstream.comment.dto.CommentDTO" />
	</typeAliases>

	<mappers>
		<mapper resource="kr/jetstream/mapper/MemberMapper.xml" />
		<mapper resource="kr/jetstream/mapper/BoardMapper.xml" />
		<mapper resource="kr/jetstream/mapper/PackMapper.xml"/>
		<mapper resource="kr/jetstream/mapper/CardMapper.xml"/>
		<mapper resource="kr/jetstream/mapper/CommentMapper.xml"/>
	</mappers>
</configuration>