<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jetstream.member">
	<select id="login" resultType="member" parameterType="hashmap">
		select * from TB_MEMBER where EMAIL = #{email, jdbcType=VARCHAR} and PASSWORD = #{password, jdbcType=VARCHAR}
	</select>
	<insert id="insert" parameterType="member">
		insert into TB_MEMBER values( 'M'||to_char(SEQ_MEMBER.NEXTVAL), '0', #{email}, #{password}, #{member_nm}, 'default.png')
	</insert>
	<update parameterType="member" id="update"> 
	update TB_MEMBER set member_nm=#{member_nm}, password=#{password}, photo = #{photo} where EMAIL=#{email} 
	</update>
	<select id="findMember" parameterType="string" resultType="string">
		select MEMBER_NM from TB_MEMBER
		where MEMBER_NM LIKE '%'|| #{searchData}||'%'
	</select>
</mapper>